body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1058px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(46, 185, 131, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:115px;
  width:57px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:53px;
  word-wrap:break-word;
}
#u752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(244, 245, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#7A7B7C;
  text-align:left;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:154px;
  width:51px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#7A7B7C;
  text-align:left;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-16px;
  width:47px;
  word-wrap:break-word;
}
#u754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:371px;
  width:285px;
  height:25px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
  background:inherit;
  background-color:rgba(254, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:200px;
  width:113px;
  height:24px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:764px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:28px;
  width:422px;
  height:764px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:374px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:159px;
  width:71px;
  height:27px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#00B981;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:190px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#00B981;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:23px;
  background:inherit;
  background-color:rgba(232, 251, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:114px;
  width:360px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:356px;
  word-wrap:break-word;
}
#u766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 68, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:739px;
  width:143px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:190px;
  width:248px;
  height:20px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:189px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2EBA81;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:189px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2EBA81;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2EBA81;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:189px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2EBA81;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:189px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:55px;
  width:180px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#00B981;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:190px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#00B981;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:159px;
  width:71px;
  height:27px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:726px;
  width:210px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:206px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:159px;
  width:71px;
  height:27px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:73px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:653px;
  width:422px;
  height:73px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:598px;
  width:422px;
  height:55px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:610px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2EBA81;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:609px;
  width:242px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2EBA81;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2EBA81;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:610px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2EBA81;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:726px;
  width:212px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:208px;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:159px;
  width:71px;
  height:27px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:265px;
  width:434px;
  height:381px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:423px;
  height:5px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:329px;
  width:420px;
  height:2px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:283px;
  width:14px;
  height:18px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:283px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:493px;
  width:403px;
  height:91px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  word-wrap:break-word;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:594px;
  width:405px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:401px;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:341px;
  width:50px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:357px;
  width:59px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:88px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:395px;
  width:281px;
  height:88px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:730px;
  width:313px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:2px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:754px;
  width:93px;
  height:1px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
